.Font {
  font-family: "Times New Roman", Times, serif;
}

.image {
  position: relative;
  left: 700px;
  bottom: 160px;
}

.rating {
  position: relative;
  bottom: 400px;
}

.review {
  text-align: right;
  position: relative;
  bottom: 450px;
  right: 50px;
}

.description {
  position: relative;
  bottom: 300px;
}

.businessName {
  position: relative;
}

.reviewButton {
  text-align: right;
  position: relative;
  left: 1700px;
  top: 500px;
}

.reviewText {
  text-align: right;
  position: relative;
  left: 1600px;
  top: 600px;
}

.informationDescription {
  position: relative;
  top: 50px;
}
