.Font {
  font-family: "Times New Roman", Times, serif;
}

.businessReviewName {
  font-size: 90px;
  text-align: left;
  width: 83%;
  border: 3px solid black;
  padding: 10px;
}

.informationDescription {
  font-size: 20px;
  text-align: left;
}

.addReviewButton {
  background-color: #f64f59;
  transition-duration: 1s;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 15px;
}

.addReviewButton:hover {
  background-color: #12c2e9;
  color: white;
}

.reviewButton {
  background-color: #f64f59;
  transition-duration: 1s;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 15px;
}

.reviewButton:hover {
  background-color: #12c2e9;
  color: white;
}

.reviewText {
  width: 50%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.slidecontainer {
  width: 30%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}