.businessFont {
  font-family: "Times New Roman", Times, serif;
}

.image {
  position: relative;
  left: 700px;
  bottom: 160px;
}

.rating {
  position: relative;
  bottom: 400px;
}

.review {
  text-align: right;
  position: relative;
  bottom: 450px;
  right: 50px;
}
